html, body {
    height: 100%;
    margin: 0;
}

body {
    font-family: 'Lato', sans-serif;
    font-size: 12px;
    font-weight: 400;
}

div {
    box-sizing: border-box;
}

input {
    background: white;
    border: 0;
    border-bottom: 1px solid #fff;
    border-radius: 10px;
    box-sizing: border-box;
    display: block;
    font-family: 'Lato', sans-serif;
    font-size: 12px;
    margin: 0;
    outline: none;
    padding: 10px 0 10px 10px;
    transition: all 0.3s ease;
    vertical-align: middle;
    width: 100%;
}

.hidden {
    display: none !important;
}

#page-wrapper {
    background: -webkit-linear-gradient(top, rgba(252,79,52,1) 0%, rgba(232,49,98,1) 100%);
    background: linear-gradient(to bottom, rgba(252,79,52,1) 0%, rgba(232,49,98,1) 100%);
    display: flex;
    flex-flow: column;
    height: 100%;
    padding: 25px 50px;
}

#page-wrapper.play {
    background: #fff;
}

.state-wrapper {
    display: flex;
    flex-flow: column;
    height: 100%;
}

/* Connecting & Calibration */

#connecting-wrapper,
#calibration-wrapper {
    align-items: center;
    justify-content: center;
}

/* Player Setup */

.player-setup {
    color: #fff;
}

#player-setup-wrapper {
    justify-content: space-between;
}

#player-setup-header {
    font-size: 16px;
    padding-bottom: 10px;
    text-align: center;
}

.player-setup-heading {
    font-style: italic;
}

#player-name {
    margin: 10px 0;
}

#instrument-selector-wrapper {
    display: flex;
    flex: 1;
    flex-flow: column;
    margin-top: 20px;
}

#instrument-selector-instruments {
    display: flex;
    flex: 1;
    margin-top: 10px;
    width: 100%;
}

.instrument-selector-instrument {
    background: url('../img/drums.png') center center no-repeat;
    background-size: auto 60%;
    border-radius: 10px;
    filter: invert(100%);
    flex: 1;
    margin-right: 20px;
    transition: all 0.5s ease;
}

.instrument-selector-instrument:last-child {
    margin-right: 0;
}

.instrument-selector-instrument.instrument-guitar {
    background-image: url('../img/guitar.png');
}

.instrument-selected {
    background-color: #fff;
    filter: invert(0%);
}

/* Play */

#play-wrapper {
    flex: 1;
    justify-content: space-between;
}

/* Buttons */

#button-wrapper {
    align-items: center;
    display: flex;
    flex: 1;
    flex-flow: row;
    justify-content: space-between;
    width: 100%;
}

.button {
    background-color: #FFF;
    border-radius: 115px;
    box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.2);
    height: 115px;
    position: relative;
    transition: box-shadow 0.3s ease;
    width: 115px;
}

.button:active {
    box-shadow: 0px 0px 50px 0px rgba(0,0,0,0.35);
}

.button-color-ring {
    background-color: #008aff;
    border-radius: 95px;
    height: 95px;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 95px;
}

.button-inner {
    background: -webkit-radial-gradient(center, ellipse cover, #ffffff 0%,#e6e6e6 100%);
    border-radius: 80px;
    height: 80px;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 80px;
}

.ring-blue {
    background-color: #008aff;
}

.ring-green {
    background-color: #00b800;
}

.ring-yellow {
    background-color: #ffce00;
}

.ring-red {
    background-color: #ff3700;
}

/* Metadata */

#metadata-wrapper {
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    width: 100%;
}

#metadata-record-label {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    flex: 1;
}

#metadata-player {
    position: relative;
}

#metadata-player:before {
    content: '';
    background: url('../img/drums.png') no-repeat center center;
    background-size: contain;
    height: 22px;
    left: -45px;
    position: absolute;
    top: 5px;
    width: 45px;
}

#metadata-player.instrument-guitar:before {
    background: url('../img/guitar.png') no-repeat center center;
    background-size: contain;
}

#metadata-track-artist,
#metadata-player-id {
    font-weight: 700;
    text-transform: uppercase;
}

#metadata-instrument:first-letter {
    text-transform:capitalize;
}

/* Misc. */

.horizontal-separator {
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    padding: 10px;
    width: 100%;
}

.horizontal-separator.white {
    border-top: 1px solid rgba(255,255,255,1);
}

.logo-ovo {
    background-image: url('../img/ovo.png');
}
