html,
body {
  font-family: 'Lato', sans-serif;
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

body {
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(252,79,52,1)), color-stop(100%, rgba(232,49,98,1)));
  background: -webkit-linear-gradient(top, rgba(252,79,52,1) 0%, rgba(232,49,98,1) 100%);
  background: linear-gradient(to bottom, rgba(252,79,52,1) 0%, rgba(232,49,98,1) 100%);
}

.title-text {
  font-size: 4.5em;
  font-weight: bold;
  font-style: italic;
  color: #FFF;
  text-transform: uppercase;
}

.full-page {
  height: 100%;
  width: 100%;
}

.hcenter-flex-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.vcenter-flex-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
