html,
body {
  font-family: 'Lato', sans-serif;
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

.title-text {
  font-size: 4.5em;
  font-weight: bold;
  font-style: italic;
  color: #FFF;
  text-transform: uppercase;
}

.full-page {
  height: 100%;
  width: 100%;
}

.hcenter-flex-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.vcenter-flex-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
